* {
  text-decoration: none;
}
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 400px;
  left: 45%;
  margin-left: -150px;
  height: 580px;
  top: 30%;
  margin-top: -100px;
  
  
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* Styling buttons & webpage */


/* button {
    margin-top: 50px;
    background-color: rgba(255,255,255,0.3);
    border: 3px solid #F04A49;
    color: #F04A49;
    font-size: 25px;
    padding: 10px 20px;
    
}

button:hover {
    background-color: #F04A49;
    color: #FFF;
    border: 3px solid #F04A49;
    transition: all 0.3s ease 0s;
} */

p {
    margin: 1em 0;
  font-size: 16px;
}

form {
  background-color: #3D8361;
  margin-top: 2vw;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form p {margin-top: 10px;
color: #fff;}

h2 {
  color: #fff;
  
}

label {
  display: block;
  margin-bottom: 8px;
}

form  #intr  {
  width: 80%;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 5px;
  border-bottom: 2px solid #1E6F5C;
  outline: none;
  background: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  
}

.messagebox {
  padding: 10px 0px;
}

  #btn4 {
background: #1E6F5C;
color: #fff;
border: none;
padding: 10px 25px;
font-weight: 600;
border-radius: 10px;
font-size: 15px;
text-transform: uppercase;
margin-top: 20px;
transition: all ease .2s;
cursor: pointer;
}

button:hover {
 scale: 1.1;
}
 #btn9 {
  margin-top: 3%;
  /* margin-left: 34%; */
  background: rgba(12, 151, 12, 0.89);
  box-shadow: 0px 2px 5px 2px #0000004d;
  color: #fff;
  border: none;
  padding: 15px 11.7vw;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all ease .2s;
  cursor: pointer;
  margin-bottom: 3%;
}
.popupk {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popupk:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popupk:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* Styling buttons & webpage */

body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
}

.closeb {
  font-size: 25px;
  color: #fff;
  margin-top: 10%;
  padding: 1vw;
  top: 1%;
  right: 3%;
  position: absolute;
}

p {
    margin: 1em 0;
  font-size: 16px;
}

#btn9 {
  margin-top: 3%;
  /* margin-left: 34%; */
  background: rgba(12, 151, 12, 0.89);
  box-shadow: 0px 2px 5px 2px #0000004d;
  color: #fff;
  border: none;
  padding: 15px 11.7vw;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all ease .2s;
  cursor: pointer;
  margin-bottom: 3%;

}


@media (max-width: 500px) {
  .popup {
      left: 42%;
      top: 30%;
      width: 350px;
  }
  #btn9 {
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
}


